@import "nib"

app-width = 700px
x-padding = 40px 
y-padding = 20px 

body
	background: url('/images/diagonal-noise.png') radial-gradient('')
	padding: 70px 0
	
header, footer, #content
	width: app-width
	margin: 0 auto
		
header, footer
	.wrap
		padding: 20px 0
#content
	background: rgba(#fafafa, 0.9)
	border-top: 1px solid #fefefe
	border-left: 1px solid #fefefe
	.wrap
		padding: y-padding x-padding
	
