@font-face {
	font-family: 'CCRedAlertLANRegular';
	src: url('/fonts/cc_red_alert_lan-webfont.eot');
	src: url('/fonts/cc_red_alert_lan-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/cc_red_alert_lan-webfont.woff') format('woff'),
		url('/fonts/cc_red_alert_lan-webfont.ttf') format('truetype'),
		url('/fonts/cc_red_alert_lan-webfont.svg#CCRedAlertLANRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
