body {
  background: url("/images/diagonal-noise.png");
  padding: 70px 0;
}
header,
footer,
#content {
  width: 700px;
  margin: 0 auto;
}
header .wrap,
footer .wrap {
  padding: 20px 0;
}
#content {
  background: rgba(250,250,250,0.90);
  border-top: 1px solid #fefefe;
  border-left: 1px solid #fefefe;
}
#content .wrap {
  padding: 20px 40px;
}
