!!! 5
head(data-template-set='html5-reset')
	meta(charset='utf-8')
	// Always force latest IE rendering engine (even in intranet) & Chrome Frame 
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

	title
		#{project} #{page_title}


	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/fonts.css')

	script(src='/socket.io/socket.io.js') 
	script(src='/scripts/jquery.js') 
	script(src='/scripts/ocanvas.js')
	script(src='/scripts/application.js')

	script
		var ar=new Array(33,34,35,36,37,38,39,40);
		$(document).keydown(function(e) {
			var key = e.which;
			if($.inArray(key,ar) > -1) {
				e.preventDefault();
				return false;
			}
			return true;
		})
		var App = require('./app').App
		$(function() {
			var app = new App()

			$('#overlay').click(function(event) {
				$('#world').trigger('click', event);
			});
		})
body
	!=partial('header', {object: this, as: 'global'})
	#content!=body
	//!=partial('sidebar', {object: this, as: 'global'})
	!=partial('footer', {object: this, as: 'global'})


